.wrapper{
    height: 100px;
    width: 400px;
    background-color: #141f40;
}

.left{
    float: left;
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}
.center-upper{
    float: left;
    height: 50px;
    width: 150px;
    background-color: #dbd400;
}
.right-upper{
    float: left;
    height: 150px;
    width: 100px;
    background-color: #ff9e6d;
}